body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #ecebe8;
	color: #555;
	margin: 0;
	padding: 0;
}

header {
	max-width: 1136px;
	margin: 0 auto;
	padding: 20px 20px 0;
}

h1 {
	margin: 0;
	font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 4em;
	color: #454c53;
	text-shadow: 0 2px 0px #d2d1ce;
}

h1 a {
	color: #454c53;
}

h1 a:hover {
	position: relative;
	bottom: 2px;
	text-shadow: 0 6px 0px #d2d1ce;
}

h1 a:active {
	position: relative;
	top: 2px;
	text-shadow: none;
}

header h2 {
	color: #777;
	margin: -10px 0 0;
	text-shadow: 0 2px 0px #fff;
}

a {
	color: #08c;
	text-decoration: none;
}

#container {
	margin: 0px auto;
	padding: 20px;
	overflow: auto;
	max-width: 1136px;
}
#blog {
	display: block;
	float: left;
	width: 50%;
	max-width: 568px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #d2d1ce;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	-webkit-box-shadow: 0px 2px 0px #dadee1;
	-moz-box-shadow: 0px 2px 0px #dadee1;
	box-shadow: 0px 2px 0px #dadee1;
}

#blog a:hover {
	border-bottom: 2px solid #08c;
}

#portfolio {
	float: right;
	width: 50%;
	max-width: 568px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.details {
	text-align: right;
	color: #999;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.gallery li {
	float: left;
	margin: 0 0 20px 20px;
	padding: 10px 10px 6px 10px;
	background-color: #fff;
	border: 1px solid #d2d1ce;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 2px 0px #DADEE1;
	-moz-box-shadow: 0px 2px 0px #DADEE1;
	box-shadow: 0px 2px 0px #DADEE1;
}

.gallery li:hover {
	position: relative;
	bottom: 2px;

	-webkit-box-shadow: 0px 6px 0px #DADEE1;
	-moz-box-shadow: 0px 6px 0px #DADEE1;
	box-shadow: 0px 6px 0px #DADEE1;
}

.gallery li:active {
	position: relative;
	top: 2px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.gallery img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*-------- post.html -------- */

#post {
	position: relative;
	margin: 80px auto;
	padding: 40px;
	max-width: 1136px;
}