---
layout: default
title: alanlongstaff.com - Web and Graphic Design based in the North East of England
---

<header>
	<hgroup>
		<h1 class="header"><a href="#">alanlongstaff.com</a></h1>
		<h2 class="subhead">
			<a class="bubble red" href="#blog" title="View Blog">bits</a> and <a class="bubble" href="#portfolio" title="View Work">pieces</a> (and <a class="email" href="mailto:alan@alanlongstaff.com" title="Get in touch">me</a>)
		</h2>
	</hgroup>
</header>
<div id="container">
	<section id="blog">
		{% for post in site.posts %}
			{% unless post.category == "portfolio" %}
				<article>
					<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
					<time class="details" datetime="{{ post.date | date: "%Y-%m-%d" }}">Posted on {{ post.date | date: "%d %B %Y" }}</time>
					{{ post.content }}
				</article>
			{% endunless %}
		{% endfor %}
	</section>
	<section id="portfolio">
		<ul class="gallery">
			{% for post in site.categories.portfolio %}
				<li><a data-fancybox-group="portfolio-image" href="/static/img/{{ post.image }}.jpg" title="{{ post.title }}"><img src="/static/img/{{ post.image }}-s.jpg" alt="{{ post.alt }}"/></a></li>
			{% endfor %}
		</ul>
	</section>
</div>
