---
layout: default
title: the personal website of alan longstaff
---

<header>
	<hgroup>
		<h1 class="header"><a href="#">alan longstaff</a></h1>
		<h2 class="subhead"><a class="bubble red" href="#blog">musings</a> and <a class="bubble" href="#portfolio">portfolio</a></h2>
	</hgroup>
</header>
<div id="container">
	<section id="blog">
		{% for post in site.posts %}
			{% unless post.category == "portfolio" %}
				<article>
					<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
					<time class="details" datetime="{{ post.date | date: "%Y-%m-%d" }}">Posted on {{ post.date | date: "%d %B %Y" }}</time>
					{{ post.content }}
				</article>
			{% endunless %}
		{% endfor %}
	</section>
	<section id="portfolio">
		<ul class="gallery">
			{% for post in site.categories.portfolio %}
				<li><a data-fancybox-group="portfolio-image" href="/static/img/{{ post.image }}.jpg" title="{{ post.info }}"><img src="/static/img/{{ post.image }}-s.jpg" title="{{ post.title }}"/></a></li>
			{% endfor %}
		</ul>
	</section>
</div>
