body {
	margin: 0;
	padding: 40px 40px 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #ecebe8;
	color: #555;
}

header {
	max-width: 1136px;
	margin: 0 auto;
}

header h2 {
	margin-top: -4px;
	font-size: 1.4em;
	text-shadow: 0 1px 0 #fff;
}

.subhead {
	margin-bottom: 0;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	font-family: "Vollkorn", serif;
	font-style: italic;
	font-weight: 700;
	font-size: 3em;
	color: #454c53;
	line-height: .8em;
}

h1 a {
	color: #454c53;
}

h1 a:hover {
	color: #454c53;
	position: relative;
	bottom: 4px;
	text-shadow: 0 4px 0 #d2d1ce;
}

h1 a:active {
	position: relative;
	top: 2px;
	text-shadow: none;
}

a {
	color: #08c;
	text-decoration: none;
}

a img {
	border: none;
}

p {
	line-height: 1.4em;
}

.bubble {
	background-color: #08c;
	color: #fff;
	padding: 2px 6px 4px;
	text-shadow: 0 -1px 0 #005d8c;
	border-bottom: 1px solid #08c;

	background-image: -webkit-linear-gradient(top, #0088cc, #006ea5);
	background-image: -moz-linear-gradient(top, #0088cc, #006ea5);
	background-image: -ms-linear-gradient(top, #0088cc, #006ea5);
	background-image: -o-linear-gradient(top, #0088cc, #006ea5);
	background-image: linear-gradient(top, #0088cc, #006ea5);

	-webkit-box-shadow: 0 1px 0 #006ea5;
	-moz-box-shadow: 0 1px 0 #006ea5;
	box-shadow: 0 1px 0 #006ea5;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.bubble:hover {
	color: #fff;
}

.red {
	background-color: #b94a48;
	text-shadow: 0 -1px 0 #772f2e;
	border-color: #b94a48;

	background-image: -webkit-linear-gradient(top, #b94a48, #913a38);
	background-image: -moz-linear-gradient(top, #b94a48, #913a38);
	background-image: -ms-linear-gradient(top, #b94a48, #913a38);
	background-image: -o-linear-gradient(top, #b94a48, #913a38);
	background-image: linear-gradient(top, #b94a48, #913a38);

	-webkit-box-shadow: 0 1px 0 #913a38;
	-moz-box-shadow: 0 1px 0 #913a38;
	box-shadow: 0 1px 0 #913a38;
}

.email {
	font-style: italic;
	color: #555;
	border-bottom: 2px solid #08c;
}

.email:hover {
	color: #08c;
	border-bottom: none;
}

/* -------- content --------*/

#container {
	margin: 0 auto;
	padding-top: 20px;
	overflow: auto;
	max-width: 1136px;
}

#blog {
	display: block;
	float: left;
	width: 50%;
	max-width: 568px;
	margin-bottom: 40px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #d2d1ce;

	-webkit-box-shadow: 0 3px 0 #d2d1ce, 0 5px 1px -1px #999;
	-moz-box-shadow: 0 3px 0 #d2d1ce, 0 5px 1px -1px #999;
	box-shadow: 0 3px 0 #d2d1ce, 0 5px 1px -1px #999;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#blog a:hover {
	background-color: #c6e2f2;
}

#blog h2 {
	margin: 0;
}

#blog article:not(:first-of-type) h2 {
	margin-top: 40px;
}

article p:last-of-type {
	margin-bottom: 2px;
}

#blog img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

#portfolio {
	float: right;
	width: 50%;
	max-width: 568px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.details {
	font-size: 0.9em;
	color: #999;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.gallery li {
	float: left;
	margin: 0 0 20px 20px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #d2d1ce;
	border-bottom-color: #d2d1ce;

	-webkit-box-shadow: 0 3px 0 #d2d1ce, 0 5px 1px -1px #999;
	-moz-box-shadow: 0 3px 0 #d2d1ce, 0 5px 1px -1px #999;
	box-shadow: 0 3px 0 #d2d1ce, 0 5px 1px -1px #999;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.gallery li:hover {
	position: relative;
	bottom: 2px;

	-webkit-box-shadow: 0 3px 0 #d2d1ce, 0 9px 2px -1px #999;
	-moz-box-shadow: 0 3px 0 #d2d1ce, 0 9px 2px -1px #999;
	box-shadow: 0 3px 0 #d2d1ce, 0 9px 2px -1px #999;
}

.gallery li:active {
	position: relative;
	top: 6px;

	-webkit-box-shadow: 0 3px 0 #000;
	-moz-box-shadow: none;
	box-shadow: inset 0 2px 3px -1px #999;
}

.gallery img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: top;
}

/*-------- post.html -------- */

#post {
	margin: 0 auto;
	padding: 80px;
	max-width: 1136px;
}
#post img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/*----------- media queries -----------*/

@media screen and (max-width: 647px) {
	body {
		padding: 20px 10px 0;
	}
	#blog {
		float: none;
		width: auto;
		max-width: none;
		margin-bottom: 20px;
	}
	#portfolio {
		float: none;
		width: auto;
		max-width: none;
	}
	#post {
		padding: 20px;
		max-width: none;
	}
	h1 {
		font-size: 1.75em;
	}
	header h2 {
	font-size: 1.2em;
}
}