<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/base.css" />
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:700italic|Open+Sans:400italic,400,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.0.5" media="screen" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="/static/fancybox/jquery.fancybox.pack.js?v=2.0.5"></script>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="/static/css/ie.css" />
  <![endif]-->
  <title>{{ page.title }}</title>
</head>
<body>
  {{ content }}
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31906986-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <script src="/static/js/main.js"></script>
</body>
</html>
